button {
  margin-right: 8px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.delete-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}
