<h2 mat-dialog-title>Users Details</h2>
<mat-dialog-content class="mat-typography">
  <h3>Name</h3>
  <p>{{ userDetails.name }}</p>
  <h3>Username</h3>
  <p>{{ userDetails?.username }}</p>
  <h3>Email</h3>
  <p>{{ userDetails.email }}</p>
  <h3>Address</h3>
  <p>{{ userDetails.address?.city }}</p>
  <h3>Phone</h3>
  <p>{{ userDetails.phone }}</p>
  <h3>Website</h3>
  <p>{{ userDetails.website }}</p>
  <h3>Company</h3>
  <p>{{ userDetails.company?.name }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
