<ng-container>
  <div class="container">
    <div class="card-table">
      <div class="card-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Users Name</th>
            </tr>
          </thead>
          <tbody>
            @for (item of userList; track $index) {
            <tr>
              <td (click)="openDialog(item)">{{ item.name }}</td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>
